.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

p {
    color:rgb(51, 11, 233);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

