    .carrossel_produtos {
      text-align: center;
      text-transform: uppercase;
      font-weight: 70;
      color: rgb(173, 192, 186);
      padding: 60px;



    }

    .card {
      width: 225px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-shadow: 5px 5px 5px #aaaa;
      border-radius: 10px;
      padding: 1em;
      min-height: 540px;
      margin-top: 50px
    }

    .card .img-produtos {
      background-color: #f5baba;
      width: 209px;
      height: 250px;
      text-align: center;
    }

    .card .descrição-produto {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      height: 100%;
      text-overflow: ellipsis;

    }

    .card h1 {
      font-size: 15px;
      text-align: center;
      color: #0a6b49;
      font-family: Geneva, Tahoma, sans-serif;
      font-weight: 100;
      display: inline-block;


    }

    .card h2 {
      max-width: 90%;
      font-size: 14px;
      color: #464545aa;
      text-align: center;
      display: inline-block;
      font-family: Geneva, Tahoma, sans-serif;
      font-weight: 100;


    }

    .preço {
      font-family: Arial, Helvetica, sans-serif;
    }

    .star {
      max-width: 15px;
      display: inline;
    }

    .card button {
      background-color: #45A583;
      height: 30px;
      border: none;
      padding: 4px;
      width: 70%;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 3px;
      box-shadow: 3px 3px 3px #2a724ee3;
      width: auto; /* Tamanho do botão é determinado pelo tamanho do texto */
      background-image: url('sua-imagem.png'); /* Define a imagem de fundo */
      background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o botão */
      background-repeat: no-repeat; /* Impede a repetição da imagem */
      margin-top: 40px;
      cursor: pointer;
  }

  .hidden {
    display: none;
}
    

    button {
      width: auto; /* Tamanho do botão é determinado pelo tamanho do texto */
  }
  

    .swiper {
      max-width: 60%;
    }

    .swiper-slide {
      position: relative;
      display: inline-block;
    }

    .swiper-slide .card img {
      width: 100%;
      height: auto;
      

    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    .swiper-pagination {
      position: initial;
      margin: .5em 0;
    }



    @media screen and (max-width: 768px) {
      .carrossel_produtos {
        padding: 1.5em;
      }

      .card {
        display: flex;
        width: 230px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: 5px 5px 5px #aaaa;
        border-radius: 10px;
        padding: 1em;
        

      }

      .card .img-produtos {
        background-color: #45A583;
        width: 250;
        height: 200px;       
        text-align: center;
      }

      .card h1 {
        color: #ffffffaa;
      }
      .card .descrição-produto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 100%;
        width: 200px;
      }

      .swiper {
        max-width: 250px;
      }

      .swiper-slide .card img {
        width: 100%;
        height: 80%;
      }



    }